#test_div{
    display: flex;
    flex-wrap: wrap;
}
.fizz-buzz{
    background-color: crimson;
    
    padding: 20px;
    margin: 5px;
}
.fizz{
    padding: 20px;
    margin: 5px;
}

.buzz{
    padding: 20px;
    margin: 5px;
    background-color: darkblue;
}
.no{
    padding: 20px;
    margin: 5px;
}